/*
*/

body,
html {
  width: 100%;
  height: 100%; }

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

body {
  font-family: 'Archivo Black', 'Intro', Arial, sans-serif;
  font-size: 72px; }

a {
 	text-decoration: none;
 }

 a:link, a:visited {
 	color: black;
 }

 a:hover {
 	color: gray;
 }

.black {
	color: #000000 ;
	position: absolute;
	top: 35%;
}

.hot-pink {
	color: #ff1256;
	position: absolute;
	top: 35%;
}

.subtext {
	color: #000000 ;
	font-size: 20px ;

}


#photo {
	position: absolute;
	top: 22% ;
	right: 25% ;
}

#tagline {
	position: absolute;
	bottom: 24%;

}