/*
*/

body,
html {
  width: 100%;
  height: 100%; }

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

body {
  font-family: 'Intro', 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 72px; }

.pink {
	color: pink ;
	padding-top: 100px;
}

.hot-pink {
	color: #ff1256;
	padding-left: 25px ;
	padding-top: 100px ;
}