/*
*/

body,
html {
  width: 100%;
  height: 100%; }

#photo {
	display: inline-block;
}

#page-wrap {
	display: inline-block;
    width: 900px;
    margin: 50px 0px 50px 300px;
}

#menu-bar {
	width: 250px;
	position: fixed;
	top: 0;
}

#logo {
	margin-top: 40px;
	margin-left: 40px;

}

.item {
	margin-left: 50px;
	font-family: 'Francois One', sans-serif;
	font-size: 25px;
	font-weight: 100;
	color: #ddd;
}

hr {
    display: block;
    height:0px;
    width: 200px;
    border-top: 0.25px solid #eee;
    margin: 10px 40px;
    padding: 0;
}

body {
  font-family: 'Archivo Black', sans-serif;
  font-size: 36px; }

a {
 	text-decoration: none;
 }

a:link, a:visited {
 	color: #ddd;
 }

a:hover {
 	color: black;
 }

a:active {
	text-decoration: bold;
	color: #ff1256;
}

img:hover {
	opacity: 0.75;
}

.column {
	
	width: 250px;
	margin: 0px 0px 0px 30px;
	display: inline-block;
}

.image {
	
	margin: 0px 0px 25px 0px;
	padding: 0px 0px;
}